* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'DM Sans';
}

.header {
    display: flex;
    width: 90%;
    height: 10vh;
    margin: auto;
    align-items: center;
}

a:hover {
    background-color:  #6666ff;
    color: black;
}

.logo-container,.nav-links,.cart {
 display: flex;  
}

.logo-container {
    flex: 1;
    font-size: x-large;
}

nav {
    flex: 2;
}

.nav-links {
    justify-content: space-around;
    list-style: none;
    color: violet;
    font-size: large;
}

.nav-link {
    text-decoration: none;
    color: gray;
}

.cart {
flex: 1;
justify-content: flex-end;
}

.presentation {
    display: flex;
    width: 90%;
    margin: auto;
    min-height: 80vh;
    align-items: center;
}

.introduction {
    flex: 1;
}

.intro-text h1 {
    font-size: 50px;
    font-weight: 500;
    background: linear-gradient(to right, #777777, #6666ff);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.intro-text p {
    margin: 5px;
    font-size: 25px;
    background: linear-gradient(to right, #777777, #6666ff);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.slideshow-container {
    display: flex;
}
.slideshow-container img {
    height: 50vh;
    filter: drop-shadow(0px 15px 3px black);
}

.cta-add {
    margin: 50px 0 0 0;
    border: solid 2px #6666ff;
    width: 150px;
    height: 50px;
    color: #777777;
    font-size: 15px;
    cursor: pointer;
}

.cta-add:hover {
    background-color:  #6666ff;
    color: black;
}

.big-circle {
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: -1;
    opacity: 0.5;
    height: 85%;
}

.mid-circle {
    position: absolute;
    top: 35%;
    right: 35%;
    z-index: -1;
    height: 60%;
    opacity: 0.3;

}


.small-circle {
    position: absolute;
    top: 50%;
    right: 60%;
    z-index: -1;
    height: 50%;
}

.prev, .next{
  position: absolute;
  padding: 10px;
  width: auto;
  top: 80%;
  margin-top: -15px;
  font-size: 20px;
  cursor: pointer;
  user-select: none;
  border: solid 2px #6666ff;
}

.prev:hover {
    background-color: #6666ff;
}
 .next:hover {
    background-color: #6666ff;
}

.next {
    right: 5%;
}

@media screen and (max-width: 1024px){
    .presentation {
        flex-direction: column;
    }
    .introduction {
        text-align: center;
    }
    .intro-text h1{
        font-size: 30px;
    }
    .intro-text p {
        font-size: 18px;
    }
    .cta-add {
        margin-top: 50px;
    }
    .slideshow-container img {
        height: 30vh;
        filter: drop-shadow(0px 15px 3px black);
    }
    .nav-links {
        font-size: 14px;
    }
    .prev {
        width: auto;
        bottom: 12%;
        left: 1%;
        border: none;
        background-color: transparent;
      
    }
    .next{
        width: auto;
        bottom: 12%;
        right: 1%;
        border: none;
        background-color: transparent;
    }
}

